{% extends 'base.html' %}

{% block content %}
    <div style="padding: 30px; background-color: #f8f9fa; max-width: 800px; margin: 0 auto; border-radius: 8px;">
        <h1 style="font-family: Arial, sans-serif; font-size: 2em; color: #333; text-align: center; margin-bottom: 20px;">Your Shopping Cart</h1>

        {% if cart_items %}
            <ul style="list-style-type: none; padding: 0;">
                {% for item in cart_items %}
                    <li style="display: flex; align-items: center; background-color: #fff; border: 1px solid #ddd; border-radius: 8px; padding: 15px; margin-bottom: 15px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" style="width: 100px; height: 100px; object-fit: cover; border-radius: 8px; margin-right: 15px;">
                        <div style="flex-grow: 1;">
                            <h2 style="font-size: 1.5em; margin: 0 0 10px; color: #333;">{{ item.product.name }}</h2>
                            <p style="font-size: 1em; color: #777; margin: 0;">Quantity: {{ item.quantity }}</p>
                            <div style="display: flex; align-items: center; gap: 10px; margin-top: 10px;">
                                <a href="{% url 'decrease_quantity' item.pk %}" style="padding: 5px 10px; background-color: #dc3545; color: #fff; border: none; border-radius: 5px; text-decoration: none; font-size: 1em;">-</a>
                                <span>{{ item.quantity }}</span>

                                <a href="{% url 'increase_quantity' item.pk %}" style="padding: 5px 10px; background-color: #28a745; color: #fff; border: none; border-radius: 5px; text-decoration: none; font-size: 1em;">+</a>
                                <a href="{% url 'remove_from_cart' item.pk %}" style="padding: 5px 10px; background-color: #ff4d4f; color: #fff; border: none; border-radius: 5px; text-decoration: none; font-size: 1em;"><i class='bx bxs-trash'></i></a>
                            </div>
                        </div>

                        <p style="font-size: 1.2em; font-weight: bold; color: #333; margin: 0;">${{ item.total_price }}</p>
                    </li>
                {% endfor %}
            </ul>
            <div style="text-align: center; margin-top: 20px;">
                <p style="font-size: 1.5em; font-weight: bold; color: #333;">Total: ${{ total }}</p>
                <!-- Preorder Button -->
                <a href="{% url 'preorder' %}" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; text-decoration: none; font-size: 1.2em; margin-top: 10px;">Proceed to Checkout</a>

            </div>
        {% else %}
            <p style="font-size: 1.2em; color: #777; text-align: center;">Your cart is empty.</p>
        {% endif %}
    </div>
{% endblock %}